<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio Prueba D2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="inicio-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <img src="assets/icon/LogoALER-DJJ.png" alt="Detección de Ingredientes" class="logo" />

    <h1>¡Bienvenido!</h1>
    <p>
      Detecta ingredientes fácilmente a través de imágenes. Ideal para personas con alergias, restricciones alimentarias o curiosidad por su alimentación.
    </p>

    <ion-button expand="block" shape="round" color="primary" routerLink="/quienessomos">
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      ¿Quiénes somos?
    </ion-button>

    <ion-button expand="block" shape="round" color="primary" routerLink="/menuingredientes">
      <ion-icon name="camera-outline" slot="start"></ion-icon>
      Detectar Ingredientes
    </ion-button>
  </div>
</ion-content>