<ion-header [translucent]="false" class="ion-text-center">
  <ion-toolbar color="primary">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-bg">
  <div class="login-container">
    <div class="welcome-container">
      <img src="assets/icon/LogoALER-DJJ.png" alt="ALER" class="logo" />
    </div>

    <h1 class="login-title">Iniciar Sesión</h1>

    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" autocomplete="email" name="email" [(ngModel)]="email" [disabled]="isLoading"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" autocomplete="current-password" name="password" [(ngModel)]="password" [disabled]="isLoading"></ion-input>
      </ion-item>
    </ion-list>

    <div *ngIf="isLoading" style="display: flex; justify-content: center; margin: 20px 0;">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <ion-button expand="block" color="primary" (click)="login()" [disabled]="isLoading">
      {{ isLoading ? 'Cargando...' : 'INICIAR SESIÓN' }}
    </ion-button>
    <ion-button expand="block" fill="clear" color="primary" (click)="goToRegister()" [disabled]="isLoading">
      REGISTRARSE
    </ion-button>
  </div>
</ion-content>