:host {
  --background: #F0FDFA;
  --color: #ffffff;

  ion-content {
    --background: #F0FDFA;  // Fondo de la página
    color: white;           // Color del texto
  }
}

  .contenido {
    padding: 1.5rem;
    text-align: left;

    h2 {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      color: #0F172A; // también se puede definir aquí para asegurar contraste
    }

    p {
      font-size: 1.05rem;
      line-height: 1.6;
      // el color ya lo hereda del contenedor, pero puedes repetirlo por claridad
      color: #0F172A;
    }
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;

    ion-button {
      margin-top: 1rem;
      width: 100%;
      max-width: 300px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
    }

    ion-button:hover {
      transform: scale(1.03);
    }
    
    .logo {
      width: 120px;
      height: auto;
      margin-bottom: 1rem;
      animation: fadeIn 1.5s ease-in-out;
    }
    }