<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Menu ingredientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="menu-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu ingredientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <ion-button expand="block" shape="round" color="primary" routerLink="/inicio">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      Inicio
    </ion-button>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Selecciona tus alergias</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let alergia of listaAlergias">
          <ion-label>{{ alergia.nombre }}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="alergia.seleccionado"></ion-checkbox>
        </ion-item>
      </ion-list>

      <ion-button expand="full" color="success" (click)="guardarSeleccion()">
        Guardar selección
      </ion-button>
    </ion-card-content>
  </ion-card>

  <div class="welcome-container">
    <ion-button expand="block" shape="round" color="primary" routerLink="/camara">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      Cámara
    </ion-button>
  </div>
</ion-content>
